html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
	margin: 1.15em;
	margin-top:0.05em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:1em;
	line-height:1.15em;
	font-weight:bold;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
	color: #000000;
}
a {
	color: #000000;
}
.row{
	width:100%;
	max-width:100%;
	clear:both;
	overflow:auto;
	border-bottom-color:#000;
	border-bottom-style:solid;
	border-bottom-width:0.15em;
	padding-top:0.05em;
	}
.rowlogo{
	width:100%;
	max-width:100%;
	clear:both;
	overflow:auto;
	padding-top:0.05em;
	}
.left{
	width:270px;
	float:left;
	max-width:100%;
	margin-bottom:1.15em;
	}
.left1{
	width:270px;
	float:left;
	max-width:100%;
	margin-bottom:2.30em;
	}
.right{
	width:670px;
	max-width:100%;;
	float:left;
	margin-bottom:2.30em;
	}
#right{
	width:670px;
	max-width:100%;;
	float:left;
	margin-bottom:2.30em;
	}
img{
	border:none;
	max-width:100%;;
	padding-top:0.7em;
	padding-right:1.15em;
	}
#image024{
	border:none;
	max-width:100%;
	display:none;
	margin:0;
	padding-top:0em;
	margin-bottom:2.30em;
	}
#image049{
	border:none;
	max-width:100%;
	display:none;
	margin:0;
	padding-top:0em;
	margin-bottom:2.30em;
	}
#image069{
	border:none;
	max-width:100%;
	display:none;
	margin:0;
	padding-top:0em;
	margin-bottom:2.30em;
	}
#image074{
	border:none;
	max-width:100%;
	display:none;
	margin:0;
	padding-top:0em;
	margin-bottom:2.30em;
	}
#image158{
	border:none;
	max-width:100%;
	display:none;
	margin:0;
	padding-top:0em;
	margin-bottom:2.30em;
	}
#image183{
	border:none;
	max-width:100%;
	display:none;
	margin:0;
	padding-top:0em;
	margin-bottom:2.30em;
	}